/* Homepage */

position: relative;
width: 1920px;
height: 5275px;

background: #FFFDF6;


/* Rectangle */

position: absolute;
width: 143.28px;
height: 275.95px;
left: 1265px;
top: 126.31px;

background: url(.png);
box-shadow: inset 0px 4px 4px rgba(255, 255, 255, 0.25);
transform: rotate(15deg);


/* Rectangle */

position: absolute;
width: 76.98px;
height: 148.26px;
left: 229.93px;
top: 468.94px;

background: url(.png);
box-shadow: inset 0px 4px 4px rgba(255, 255, 255, 0.25);
transform: rotate(-15deg);


/* Rectangle */

position: absolute;
width: 98.31px;
height: 189.35px;
left: 1825px;
top: 159px;

background: url(.png);
opacity: 0.8;
box-shadow: inset 0px 4px 4px rgba(255, 255, 255, 0.25);
filter: blur(5px);
transform: rotate(-30deg);


/* Rectangle */

position: absolute;
width: 176.95px;
height: 340.8px;
left: -169px;
top: 728px;

background: url(.png);
opacity: 0.8;
box-shadow: inset 0px 4px 4px rgba(255, 255, 255, 0.25);
filter: blur(5px);
transform: rotate(30deg);


/* Frame 21 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 60px;

position: absolute;
width: 1350px;
height: 1160px;
left: 285px;
top: 182px;



/* Frame 20 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 10px;

width: 1212px;
height: 306px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Welcome to InvestmentsEasy */

width: 1212px;
height: 240px;

font-family: 'General Sans';
font-style: normal;
font-weight: 700;
font-size: 120px;
line-height: 120px;
/* or 100% */
text-align: center;

color: #10A44A;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* We Prioritize Your Goals—Empowering Smarter Planning Today for a Secure Tomorrow. Where your financial goals are our priority. Plan for tomorrow, today! */

width: 800px;
height: 56px;

font-family: 'General Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 140%;
/* or 28px */
text-align: center;

color: #5C5C5C;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 31 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 20px;
gap: 10px;

width: 283px;
height: 54px;

background: #10A44A;
border-radius: 40px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Get Started Today */

width: 209px;
height: 27px;

font-family: 'General Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;
/* identical to box height */
text-align: center;
text-transform: uppercase;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* ArrowUpRight

directional, pointer, pointing, arrowhead, arrows
*/

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 25%;
right: 25%;
top: 25%;
bottom: 25%;

border: 2px solid #FFFFFF;


/* Vector */

position: absolute;
left: 34.38%;
right: 25%;
top: 25%;
bottom: 34.38%;

border: 2px solid #FFFFFF;


/* Frame 18 */

width: 1350px;
height: 680px;

background: url(scenes-people-work);
border-radius: 30px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Frame 22 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 100px 285px;
gap: 60px;
isolation: isolate;

position: absolute;
width: 1920px;
height: 1594px;
right: 0px;
top: 1442px;

background: #FFF9E5;


/* Vector */

box-sizing: border-box;

position: absolute;
left: 85.73%;
right: -3.39%;
top: 68.63%;
bottom: -5.96%;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Frame 19 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 10px;

width: 1119px;
height: 304px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Smart Planning for a Secure Future */

width: 1119px;
height: 240px;

font-family: 'General Sans';
font-style: normal;
font-weight: 700;
font-size: 120px;
line-height: 100%;
/* or 120px */
text-align: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* We create strategies that balance today’s needs with tomorrow’s aspirations. From setting clear financial goals to monitoring progress, our approach ensures your wealth grows steadily while adapting to life’s changes. */

width: 1119px;
height: 54px;

font-family: 'General Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;
text-align: center;

color: #5C5C5C;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 28 */

/* Auto layout */
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: flex-start;
align-content: flex-start;
padding: 0px;
gap: 30px;

width: 1350px;
height: 1030px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
z-index: 2;


/* Frame 24 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 30px;

width: 660px;
height: 500px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 23 */

width: 660px;
height: 380px;

background: url(.jpg);
border-radius: 30px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 25 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 660px;
height: 90px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* A holistic approach to planning */

width: 660px;
height: 30px;

font-family: 'General Sans';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 30px;
/* identical to box height */
text-transform: capitalize;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* We take into account both the immediate future and the distant horizon, devising strategies to effectively prepare for each. */

width: 660px;
height: 50px;

font-family: 'General Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 140%;
/* or 25px */

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 25 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 30px;

width: 660px;
height: 500px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 23 */

width: 660px;
height: 380px;

background: url(.jpg);
border-radius: 30px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 25 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 660px;
height: 90px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Define your financial goals */

width: 660px;
height: 30px;

font-family: 'General Sans';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 30px;
/* identical to box height */
text-transform: capitalize;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* We help establish financial goals as a means to realize the lifestyle you aspire to. These goals are stepping stones towards living the life you envision. */

width: 660px;
height: 50px;

font-family: 'General Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 140%;
/* or 25px */

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 26 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 30px;

width: 660px;
height: 500px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Frame 23 */

width: 660px;
height: 380px;

background: url();
border-radius: 30px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 25 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 660px;
height: 90px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Monitor and evolve */

width: 660px;
height: 30px;

font-family: 'General Sans';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 30px;
/* identical to box height */
text-transform: capitalize;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* We review your personal financial plan every year. Starting with a snapshot of how your finances are doing, and make any necessary changes as required. */

width: 660px;
height: 50px;

font-family: 'General Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 140%;
/* or 25px */

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 27 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 30px;

width: 660px;
height: 500px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Frame 23 */

width: 660px;
height: 380px;

background: url();
border-radius: 30px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 25 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 660px;
height: 90px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* In Essence */

width: 660px;
height: 30px;

font-family: 'General Sans';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 30px;
/* identical to box height */
text-transform: capitalize;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* A solid financial plan includes identifying your goals, creating a budget, building an emergency fund, paying off high interest debt and investing. */

width: 660px;
height: 50px;

font-family: 'General Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 140%;
/* or 25px */

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 48 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 80px;

position: absolute;
width: 1351px;
height: 886px;
left: 285px;
top: 3136px;



/* Financial Planning Made Easy. Putting YOU First. */

width: 1351px;
height: 462px;

font-family: 'General Sans';
font-style: normal;
font-weight: 700;
font-size: 140px;
line-height: 110%;
/* or 154px */
text-align: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 47 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 30px;

width: 1351px;
height: 344px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 35 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
isolation: isolate;

width: 934.5px;
height: 344px;

background: #FFFFFF;
border: 1px solid #F2E7C5;
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* Frame 29 */

width: 344px;
height: 344px;

background: url(image.png);

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
z-index: 0;


/* Frame 33 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 40px;
gap: 20px;

width: 422px;
height: 282px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* I am Monali Patel */

width: 342px;
height: 54px;

font-family: 'General Sans';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 54px;
/* identical to box height */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* monali@investmentseasy.com */

width: 250px;
height: 24px;

font-family: 'General Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
text-decoration-line: underline;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Reach out with any questions or to set up a meeting to discover the best path to your financial freedom! */

width: 342px;
height: 84px;

font-family: 'General Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 140%;
/* or 28px */

color: #5C5C5C;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Rectangle */

position: absolute;
width: 167.32px;
height: 322.25px;
left: 704px;
top: 55px;

background: url(.png);
box-shadow: inset 0px 4px 4px rgba(255, 255, 255, 0.25);
transform: rotate(15deg);

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Frame 44 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 1px;
gap: 1px;

width: 386.5px;
height: 344px;

background: #F2E7C5;
box-shadow: 0px 109px 44px rgba(101, 95, 78, 0.01), 0px 61px 37px rgba(101, 95, 78, 0.05), 0px 27px 27px rgba(101, 95, 78, 0.09), 0px 7px 15px rgba(101, 95, 78, 0.1);
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 38 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 1px;

width: 384.5px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 36 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 24px;
gap: 10px;

width: 174.5px;
height: 48px;

background: #FFFFFF;
border-radius: 20px 0px 0px 0px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Monday */

width: 66px;
height: 24px;

font-family: 'General Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;

color: rgba(0, 0, 0, 0.6);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 37 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 20px;
gap: 10px;

width: 209px;
height: 48px;

background: #FFFFFF;
border-radius: 0px 20px 0px 0px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 09:00 am – 09:00 pm */

width: 169px;
height: 24px;

font-family: 'General Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;

color: rgba(0, 0, 0, 0.6);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 39 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 1px;

width: 384.5px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 36 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 24px;
gap: 10px;

width: 174.5px;
height: 48px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Tuesday */

width: 68px;
height: 24px;

font-family: 'General Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;

color: rgba(0, 0, 0, 0.6);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 37 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 20px;
gap: 10px;

width: 209px;
height: 48px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 09:00 am – 09:00 pm */

width: 169px;
height: 24px;

font-family: 'General Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;

color: rgba(0, 0, 0, 0.6);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 40 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 1px;

width: 384.5px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Frame 36 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 24px;
gap: 10px;

width: 174.5px;
height: 48px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Wednesday */

width: 95px;
height: 24px;

font-family: 'General Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;

color: rgba(0, 0, 0, 0.6);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 37 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 20px;
gap: 10px;

width: 209px;
height: 48px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 09:00 am – 09:00 pm */

width: 169px;
height: 24px;

font-family: 'General Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;

color: rgba(0, 0, 0, 0.6);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 41 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 1px;

width: 384.5px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Frame 36 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 24px;
gap: 10px;

width: 174.5px;
height: 48px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Thursday */

width: 78px;
height: 24px;

font-family: 'General Sans';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 37 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 20px;
gap: 10px;

width: 209px;
height: 48px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 09:00 am – 09:00 pm */

width: 172px;
height: 24px;

font-family: 'General Sans';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 42 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 1px;

width: 384.5px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


/* Frame 36 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 24px;
gap: 10px;

width: 174.5px;
height: 48px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Friday */

width: 49px;
height: 24px;

font-family: 'General Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;

color: rgba(0, 0, 0, 0.6);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 37 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 20px;
gap: 10px;

width: 209px;
height: 48px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 09:00 am – 09:00 pm */

width: 169px;
height: 24px;

font-family: 'General Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;

color: rgba(0, 0, 0, 0.6);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 43 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 1px;

width: 384.5px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 5;
align-self: stretch;
flex-grow: 0;


/* Frame 36 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 24px;
gap: 10px;

width: 174.5px;
height: 48px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Saturday */

width: 74px;
height: 24px;

font-family: 'General Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;

color: rgba(0, 0, 0, 0.6);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 37 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 20px;
gap: 10px;

width: 209px;
height: 48px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 09:00 am – 09:00 pm */

width: 169px;
height: 24px;

font-family: 'General Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;

color: rgba(0, 0, 0, 0.6);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 44 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 1px;

width: 384.5px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 6;
align-self: stretch;
flex-grow: 0;


/* Frame 36 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 24px;
gap: 10px;

width: 174.5px;
height: 48px;

background: #FFFFFF;
border-radius: 0px 0px 0px 20px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Sunday */

width: 61px;
height: 24px;

font-family: 'General Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;

color: rgba(0, 0, 0, 0.6);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 37 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 20px;
gap: 10px;

width: 209px;
height: 48px;

background: #FFFFFF;
border-radius: 0px 0px 20px 0px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 09:00 am – 09:00 pm */

width: 169px;
height: 24px;

font-family: 'General Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;

color: rgba(0, 0, 0, 0.6);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 49 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 285px 0px 0px;
gap: 60px;

position: absolute;
width: 1920px;
height: 1103px;
left: 0px;
top: 4122px;

background: #FFF9E5;
border-radius: 0px;


/* Rectangle 1 */

width: 1115px;
height: 1103px;

background: url(.jpg);

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* Frame 58 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 100px 0px;
gap: 60px;

width: 460px;
height: 1103px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Contact Us */

width: 334px;
height: 81px;

font-family: 'General Sans';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 81px;
/* identical to box height */
text-align: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 57 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 40px;

width: 460px;
height: 762px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 52 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 20px;

width: 460px;
height: 668px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 53 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 460px;
height: 80px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Enter Name */

width: 88px;
height: 22px;

font-family: 'General Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
/* identical to box height */
text-align: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 50 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 20px;
gap: 10px;

width: 460px;
height: 48px;

background: #FFFFFF;
border: 1px solid #F2E7C5;
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Enter your name */

width: 420px;
height: 24px;

font-family: 'General Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;

color: #000000;

opacity: 0.5;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Frame 54 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 460px;
height: 80px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Email Id */

width: 58px;
height: 22px;

font-family: 'General Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
/* identical to box height */
text-align: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 50 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 20px;
gap: 10px;

width: 460px;
height: 48px;

background: #FFFFFF;
border: 1px solid #F2E7C5;
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Enter email id here */

width: 420px;
height: 24px;

font-family: 'General Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;

color: #000000;

opacity: 0.5;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Frame 55 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 460px;
height: 188px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Tell us your thoughts */

width: 160px;
height: 22px;

font-family: 'General Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
/* identical to box height */
text-align: center;
text-transform: capitalize;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 50 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 14px 20px;
gap: 10px;

width: 460px;
height: 156px;

background: #FFFFFF;
border: 1px solid #F2E7C5;
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Tell us more about your financial goals and concerns. */

width: 420px;
height: 48px;

font-family: 'General Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;

color: #000000;

opacity: 0.5;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Frame 56 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 460px;
height: 188px;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Attach Files */

width: 89px;
height: 22px;

font-family: 'General Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
/* identical to box height */
text-align: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 50 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10.5px 20px;
gap: 10px;

width: 460px;
height: 156px;

background: #FFFFFF;
border: 1px dashed #E8DDBB;
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* UploadSimple

*updated*, saved, saving, archived, archiving, archival, uploaded, uploading, hard drive, disk, system &amp; devices
*/

width: 32px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 50%;
right: 50%;
top: 12.5%;
bottom: 43.75%;

/* stone */
border: 2px solid #343330;


/* Vector */

position: absolute;
left: 15.62%;
right: 15.62%;
top: 56.25%;
bottom: 18.75%;

/* stone */
border: 2px solid #343330;


/* Vector */

position: absolute;
left: 34.38%;
right: 34.38%;
top: 12.5%;
bottom: 71.88%;

/* stone */
border: 2px solid #343330;


/* Drop a file here to upload, or click here to upload */

width: 420px;
height: 24px;

font-family: 'General Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
text-align: center;

color: #000000;

opacity: 0.5;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* This site is protected by reCAPTCHA and the Google Privacy Policy and Terms of Service apply. */

width: 376px;
height: 52px;

font-family: 'General Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* or 162% */
text-align: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* Frame 31 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 20px;
gap: 10px;

width: 119px;
height: 54px;

background: #10A44A;
border-radius: 40px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* SUBMIT */

width: 79px;
height: 27px;

font-family: 'General Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;
/* identical to box height */
text-align: center;
text-transform: uppercase;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 59 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 14px 166px;
gap: 10px;

position: absolute;
width: 1920px;
height: 50px;
left: 0px;
top: 5225px;

background: #10A44A;


/* Copyright © 2023 investmentseasy - All Rights Reserved. */

width: 420px;
height: 22px;

font-family: 'General Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
/* identical to box height */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 16 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 16px 285px;
gap: 10px;

position: absolute;
width: 1920px;
height: 82px;
left: 0px;
top: 0px;

background: rgba(255, 253, 246, 0.8);
border-bottom: 1px solid #DDDDDD;
backdrop-filter: blur(10px);
/* Note: backdrop-filter has minimal browser support */


/* Logo */

margin: 0 auto;
width: 139px;
height: 50px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Group */

position: absolute;
left: 20.76%;
right: 0%;
top: 30.48%;
bottom: 0%;



/* Group */

position: absolute;
left: 20.97%;
right: 0%;
top: 30.48%;
bottom: 40.03%;



/* Vector */

position: absolute;
left: 20.97%;
right: 76.6%;
top: 30.48%;
bottom: 40.53%;

background: #000000;


/* Vector */

position: absolute;
left: 24.88%;
right: 68.24%;
top: 39.61%;
bottom: 40.53%;

background: #000000;


/* Vector */

position: absolute;
left: 32.41%;
right: 59.88%;
top: 40.22%;
bottom: 40.53%;

background: #000000;


/* Vector */

position: absolute;
left: 40.27%;
right: 52.62%;
top: 39.6%;
bottom: 40.03%;

background: #000000;


/* Vector */

position: absolute;
left: 48.13%;
right: 45.83%;
top: 39.6%;
bottom: 40.04%;

background: #000000;


/* Vector */

position: absolute;
left: 54.63%;
right: 40.6%;
top: 34.25%;
bottom: 40.53%;

background: #000000;


/* Vector */

position: absolute;
left: 60.36%;
right: 28.53%;
top: 39.61%;
bottom: 40.53%;

background: #000000;


/* Vector */

position: absolute;
left: 72.63%;
right: 20.26%;
top: 39.6%;
bottom: 40.03%;

background: #000000;


/* Vector */

position: absolute;
left: 80.98%;
right: 12.15%;
top: 39.61%;
bottom: 40.53%;

background: #000000;


/* Vector */

position: absolute;
left: 88.73%;
right: 6.5%;
top: 34.25%;
bottom: 40.53%;

background: #000000;


/* Vector */

position: absolute;
left: 93.96%;
right: 0%;
top: 39.6%;
bottom: 40.04%;

background: #000000;


/* Group */

position: absolute;
left: 20.76%;
right: 49.66%;
top: 70.36%;
bottom: 0%;



/* Vector */

position: absolute;
left: 20.76%;
right: 72.13%;
top: 70.36%;
bottom: 9.28%;

background: #000000;


/* Vector */

position: absolute;
left: 28.75%;
right: 64.67%;
top: 70.37%;
bottom: 9.27%;

background: #000000;


/* Vector */

position: absolute;
left: 36.37%;
right: 57.59%;
top: 70.37%;
bottom: 9.27%;

background: #000000;


/* Vector */

position: absolute;
left: 42.65%;
right: 49.66%;
top: 70.98%;
bottom: 0%;

background: #000000;


/* Vector */

position: absolute;
left: 49.89%;
right: 28.53%;
top: 84%;
bottom: 9.78%;

background: #10A44A;


/* Group */

position: absolute;
left: 0%;
right: 79.48%;
top: 0%;
bottom: 0%;



/* Group */

position: absolute;
left: 0%;
right: 79.48%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 0%;
right: 89.48%;
top: 0%;
bottom: 75.59%;

background: #10A44A;


/* Vector */

position: absolute;
left: 9.43%;
right: 79.48%;
top: 9.63%;
bottom: 55.7%;

background: #10A44A;


/* Vector */

position: absolute;
left: 9.43%;
right: 89.33%;
top: 75.7%;
bottom: 16.11%;

background: #10A44A;


/* Vector */

position: absolute;
left: 9.43%;
right: 89.33%;
top: 53.29%;
bottom: 38.36%;

background: #10A44A;


/* Vector */

position: absolute;
left: 9.43%;
right: 89.33%;
top: 93.04%;
bottom: 0%;

background: #10A44A;


/* Vector */

position: absolute;
left: 3.89%;
right: 83.37%;
top: 44.14%;
bottom: 6.9%;

background: #10A44A;


/* Frame 7 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 6px;

margin: 0 auto;
width: 843px;
height: 42px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 3 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 6px;

width: 124px;
height: 42px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Life Insurance */

width: 104px;
height: 22px;

font-family: 'General Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
/* identical to box height */
text-align: center;

color: #373737;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 6 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 6px;

width: 132px;
height: 42px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Longterm Care */

width: 112px;
height: 22px;

font-family: 'General Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
/* identical to box height */
text-align: center;

color: #373737;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 4 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

width: 104px;
height: 42px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Retirement */

width: 84px;
height: 22px;

font-family: 'General Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
/* identical to box height */
text-align: center;

color: #373737;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 5 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

width: 135px;
height: 42px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Estate Planning */

width: 115px;
height: 22px;

font-family: 'General Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
/* identical to box height */
text-align: center;

color: #373737;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 7 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

width: 174px;
height: 42px;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* Wealth Management */

width: 154px;
height: 22px;

font-family: 'General Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
/* identical to box height */
text-align: center;

color: #373737;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 8 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

width: 144px;
height: 42px;


/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;


/* College Planning */

width: 124px;
height: 22px;

font-family: 'General Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
/* identical to box height */
text-align: center;

color: #373737;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
